
html{
    font-size: 11px;
    scroll-behavior: smooth;
}

.navbar{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 17vh;
}
.home-logo{
    width: 6%;
    padding: 5px;
}
.navigation li a{
    padding: 8px 20px;
    border-radius: 30px;
}

#services h1{
    padding: 30px 0 0;

}
.container{
    display: flex;
    flex-direction: column;
}

.card{
    width: 85vw;
    margin: 35px auto;
}
.card img{
    width: 40%;
}
#card-2 img{
    width: 45%;
}

#card-3 img{
    width: 30%;
}
.contact-contain input{
    padding: 5px;
    height: 2vw;
}
#home::before{
height: 62%;
}
#home{
    height: 10vh;
}
#clients::before{
    height: 250px;
    
}
#clients{
    height: 250px;
}

#contact::before{
    height: 547.5px;
}
#contact{
    height: 547.5px;
}
@media only screen and (max-width: 760px) {
    
    .navbar{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100px;
    }
    .home-logo{
        width: 8%;
        padding: 15px 0 0;
    }
    .navigation li {
        padding: 12px 0px;
    }
    .navigation li a{
        padding: 0px 18px;
        border-radius: 20px;
    }
    #home::before{
    height: 65%;
    }
    #home{
        height: 50%;
        font-size: 1.3rem;
        padding: 20vh 10vw;
    }
    #home h1{
        font-size: 3rem;
    }
    
}
/* for Iphone 5/SE */
@media only screen and (width: 320px) and (height: 568px) {
    #home::before{
    height: 80%;
    }
    #home{
        height: 30%;
        font-size: 1rem;    
        padding: 27vh 10vw 4vh;
    }
    #home h1{
        font-size: 3rem;
    }

}