*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
img{
    width:55%;
}
/* navbar */

.navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}
.navbar{
    display: flex;
    position: fixed;
    padding: 5px 10px;
    height: 8vh;
    width: 100%;
    top: 0px;
}
.navigation{
    display: flex;
    
}

.home-logo{
    width: 8%;
    padding: 10px 15px;
}
.navigation li{
    margin: 1vh 0;
    padding: 2vh 0px;
    list-style: none;
    font-size: 1.35rem;
}
.navigation li a{
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 35px;
    color: white;
}
.navigation li a:hover{
    color: black;
    background-color: white;

}
/* home section  */

#home::before{
    content: "";
    position: absolute;
    background: url(https://images.unsplash.com/photo-1594179047519-f347310d3322?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80
    ) no-repeat center center/cover;
    
    height: 100%;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.85;
}
#home{
    text-align: center;
    height: 50vh;
    color: rgb(0, 0, 0);
    padding: 26vh 10vw;
    font-size: 1.56rem;
    font-weight: bolder;
}
#home h1{
    margin: 30px;
    font-size: 4rem;
}
.btn{
    background-color: brown;
    border: 2px solid white ;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    margin: 20px;
    font-size: 1.15rem;
}

/* 2nd section */

#services{
    display: flex;
    flex-direction: column;
    /* margin: 100px 0px; */
    text-align: center;
    font-size: 2.75rem;
    
}
.container{
    display: flex;
    justify-content: space-evenly;
}
.card{
    font-size: 1.5rem;
    width: 20vw;
    background-color: rgb(243, 234, 222);
    border: 2px solid red;
    border-radius: 20px;
    padding: 3vw;
    margin: 35px 0;
}
.card img{
    width: 60%;
    margin-bottom: 30px;
}
.card h3{
    font-size: 3rem;
    margin-bottom: 30px;
}
#card-3 img{
    width: 45%;
}
#card-2 img{
    width: 75%;
}
#card-3 h3{
    font-size: 2.75rem;
}

/* section 3 */

#clients::before{
    content: "";
    position: absolute;
    background: url(../Images/veggies-bgr.jpg) no-repeat center center/cover;
    width: 100%;
    height: 250px;
    z-index: -1;
    opacity: 0.48;
}

#clients{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 2.75rem;
    /* height: 43.6vh; */

}
#clients h1{
    margin: 35px 0 0;
}
.img-contain{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    height: 138px;
    
}
.img-contain img{
    display: flex;
    width: 8%;
}

/* section 4 */

#contact::before{
    content: "";
    position: absolute;
    background: url(../Images/contact.jpg) no-repeat center center/cover;
    width: 100%;
    height: 645.5px;
    z-index: -1;
    opacity: 0.48;
    
}
#contact{
    display: flex;
    flex-direction: column;
    font-size: 2.75rem;
    justify-content: center;
    align-items: center;
    height: 645px;
    /* margin: 5vh 0 0 ; */

}
.contact-contain{
    display: flex;
}
.form-group{
    font-size: 1.75rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}
.contact-contain input{
    margin: 0 0 10px 0 ;
    padding: 10px;
    height: 3vh;
    width: 50vw;
    font-size: 1rem;
    border: 2px solid;
    border-radius: 10px;
}

.contact-contain textarea{
    width: 50.90vw;
    padding: 10px;
    border-radius: 9px;
    font-size: 1.1rem;

}
.attribution{
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;
}